### Importing Libraries

In [1]:
import pandas as pd # Biblioteca usada para acessar DataFrames e gerar estatísticas
from pandas_datareader import data # Carregar dados financeiros on-line (tens de instalar no prompt antes)

### More than one share

In [3]:
ações = ['GOLL4.SA', 'KLBN3.SA', 'WEGE3.SA', 'MGLU3.SA', 'TOTS3.SA', 'BOVA11.SA']
# Criando uma lista com o nome das ações que serão usadas

In [4]:
ações_df = pd.DataFrame()
for ação in ações: # Criando um loop para percorrer a lista com o nome das ações e obter o resultado
    ações_df[ação] = data.DataReader(name = ação, data_source='yahoo', start='2020-01-01')['Close']
    # ['Close'] no final indica o parâmetro passado para pegar somente a coluna de Fachamento das ações

In [5]:
ações_df

             GOLL4.SA  KLBN3.SA   WEGE3.SA  MGLU3.SA   TOTS3.SA   BOVA11.SA
Date
2020-01-02  37.169998      4.34  17.620001   12.3325  23.049999  114.239998
2020-01-03  35.900002      4.35  17.395000   12.2225  23.540001  113.800003
2020-01-06  34.250000      4.35  17.440001   12.2325  23.003332  112.589996
2020-01-07  34.450001      4.35  17.575001   12.1975  23.100000  112.239998
2020-01-08  35.810001      4.28  16.910000   12.5725  22.790001  111.949997
...               ...       ...        ...       ...        ...         ...
2022-05-27  15.220000      5.03  26.219999    4.0000  27.760000  107.900002
2022-05-30  14.650000      5.05  25.540001    3.8400  27.820000  106.919998
2022-05-31  14.510000      5.03  25.370001    3.7200  28.370001  107.180000
2022-06-01  13.950000      5.19  26.209999    3.7100  28.940001  107.470001
2022-06-02  13.980000      5.10  25.969999    3.8000  28.980000  107.589996

[600 rows x 6 columns]

In [6]:
ações_df = ações_df.rename(columns={'GOLL4.SA':'Gol', 'KLBN3.SA':'Klabin', 'WEGE3.SA':'Wege',
                                    'MGLU3.SA':'Magalu', 'TOTS3.SA':'Totvs', 'BOVA11.SA':'B3'})    
# Renomeando as ações para facilitar a leitura e a digitação

In [7]:
ações_df.tail(3) # Apenas conferindo se foi renomeado certo as colunas

              Gol  Klabin       Wege  Magalu      Totvs          B3
Date
2022-05-31  14.51    5.03  25.370001    3.72  28.370001  107.180000
2022-06-01  13.95    5.19  26.209999    3.71  28.940001  107.470001
2022-06-02  13.98    5.10  25.969999    3.80  28.980000  107.589996

In [8]:
ações_df.isnull().sum()
# .isnull() retorna a tabela inteira mostrando qual linha teve número nulo
# .sum() faz o somatório (n'êsse caso foi usado para somar quantos valores nulos tinha)
# Utilizou-se o somatório para não retornar a tabela inteira devido as muitas linhas nela

Gol       0
Klabin    0
Wege      0
Magalu    0
Totvs     0
B3        0
dtype: int64

In [9]:
ações_df.shape
# Acessando o tamanho de ações_df em Linhas e Colunas

(600, 6)

In [10]:
ações_df.dropna(inplace=True)
# Fazendo a remoção de valores nulos caso tivesse

In [11]:
ações_df.to_csv('Lista de Ações.cvs')
# Salvando os dados em arquivo .csv

In [ ]:
ações_df = pd.read_csv('Lista de Ações.cvs')
# Lendo o arquivo .csv

ações_df

#### Obs.:
        Como não rodei o ações_df = pd.read_csv('Lista de Ações.csv') e visualizei-o, o código está utilizando os dados da internet para mostrar as colunas. Caso tivesse rodado o arquivo .csv e tivesse pedido as colunas, a Data também entraria como uma coluna, sendo necessário chamar as colunas depois da dada. Para fazer isso era só digitar:

ações_df.columns[1:]

    Que chamaria a partir do índice 1, ou seja, da segunda coluna p'ra lá

In [12]:
ações_df.columns

Index(['Gol', 'Klabin', 'Wege', 'Magalu', 'Totvs', 'B3'], dtype='object')

In [13]:
ações_df.describe()
# Obtendo algumas informações das ações

              Gol      Klabin        Wege      Magalu       Totvs          B3
count  600.000000  600.000000  600.000000  600.000000  600.000000  600.000000
mean    20.131450    5.243200   31.924125   16.103042   29.042406  104.329604
std      5.826024    0.861897    7.239957    6.927914    5.609186   12.701135
min      5.600000    2.580000   13.235000    3.670000   14.033333   61.139999
25%     16.889999    4.650000   27.168749    9.749375   25.987500   98.229998
50%     19.440000    5.510000   33.605000   17.543750   28.655000  107.139999
75%     23.162500    5.920000   36.611251   21.920000   33.147501  113.327499
max     39.049999    6.640000   46.105000   27.450001   40.599998  125.750000